################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cpsc5031_hw4/obj/Debug/netcoreapp3.1
/cpsc5031_hw4/obj
